/*　無印良品見たいな色パレット　*/
:root {
    --primary: #9C0F29;
    --primary-text: #FAF7EB;
    --body: #FAF7EB;
    --body-text: #333333;
    --card-background: #DDDDDD;
    --button-background: #DDDDDD;
    --button-text: #333333;
    --block_width: 200px;
  }

  body {
    background-color: var(--body);
    color: var(--body-text);
    font-family: "新ゴ", "New Gothic", "Helvecita", "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono";
  }

  p {
    margin: 3px 5px 5px 3px;
    }


  .fixed-nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 60px;
    background-color: var(--primary);
    color: var(--primary-text);
}

.fixed-nav-bar a {
    background-color: var(--button-background);
    border: none;
    color: var(--button-text);
    margin: 15px 5px 5px;
    padding: 4px;
    float: right;
}


  .accordion__container {
    width: var(--block_width);
    margin: 0px;
  }

  .accordion__title {
    background-color: #000000;
    border: 1px solid transparent;
    color: #fff;
    font-size: var(--fontsize);
    padding: 0.625em 0.625em 0.625em 2em;
    position: relative;
    cursor: pointer;
    user-select: none;
  }

  .accordion__title::before, .accordion__title::after {
    content: "";
    display: block;
    background-color: #fff;
    position: absolute;
    top: 50%;
    width: 15px;
    height: 2px;
    right: 25px;
  }
  .accordion__title::after {
    transform: rotate(90deg);
    transition-duration: 0.3s;
  }
  .accordion__title:hover,
  .accordion__title:active,
  .accordion__title.is-active {
    background-color: rgb(70, 158, 148);
  }
  .accordion__title.is-active::before {
    opacity: 0;
  }
  .accordion__title.is-active::after {
    transform: rotate(0);
  }

  .accordion__content {
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    padding: 0 1.5em;
    line-height: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition-duration: 0.3s;
  }

  .accordion__content.is-open {
    border: 1px solid #00AAA7;
    background-color: #F9FFA0;
    padding: 0.625em 1.5em;
    line-height: normal;
    height: auto;
    opacity: 1;
  }

.search-button {
  display       : inline-block;
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 5px 5px;   /* 余白       */
  background    : var(--primary);     /* 背景色     */
  color         : var(--primary-text);     /* 文字色     */
}