<!DOCTYPE html>
{% load static %}
<html>

  <head>
    <meta charset="utf-8">
    <title>最終課題</title>
    <link rel="stylesheet" href="static/test1/css/final_info2.css">
    <script src="static/test1/javascript/final_info2.js"></script>

    <center>
      <p id="title">最終課題</p>
    </center>

    <center>
      <canvas id="canvas" style="background-color:lightgrey;">描画する領域</canvas>
    </center>

    <script src="static/test1/javascript/start.js"></script>
    <script src="static/test1/javascript/final_info2.js"></script>
    <script src="static/test1/javascript/rest.js"></script>
    <script src="static/test1/javascript/game1.js"></script>
    <script src="static/test1/javascript/game2.js"></script>
    <script src="static/test1/javascript/game3.js"></script>
    <script src="static/test1/javascript/game4.js"></script>
    <script src="static/test1/javascript/game5.js"></script>
  </head>

  <body>
  </body>

</html>
