{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock css %}

{% block content %}
        <nav class="fixed-nav-bar" style="border-bottom: 1px solid black">
          <!-- Fixed navigation bar content (when logged in)-->
          <a href="{% url 'logout' %}">ログアウト</a>
          <a href="{% url 'create' %}">レシピ作成</a>
          <a href="{% url 'list' %}">レシピ閲覧</a>
          <a href="{% url 'home' %}">ホーム</a>
          <a href="{% url 'taglist' %}">タグ検索</a>

          <form method="get" action="#" class="search_container" style="float:right;margin-top:10px">
            <input type="text" size="25" placeholder="　キーワード検索">
            <input type="submit" value="検索">
          </form>
          <h1 style="float:left; margin-left:5px; margin-top:12px">
            レシピアプリ
          </h1>
        </nav>
        <h1>
            <br> <!-- to provide a space below the top navbar -->
        </h1>
        <div style="margin-left:20%; width:60%">
            <div id="newsfeed" style="width:76%; float:left">
                <h1>ニュースフィード</h1>
                <div id="item1" class="recipecard">
                    <h2>人気がある粥レシピ！お腹を休みたい時におすすめ</h2>
                    <br>
                    この日本語のLorem Ipsumは、tidraso.co.ukの漢字頻度カウントに基づいており、約50%の漢字、25%のひらがな、20%のカタカナ、5%のローマ数字と句読点を含んでいます。カタカナとひらがなは、各段落のランダムな箇所に1〜4文字の文字列で集まっています。ひらがなは文末に多く見られ、1文字ではなく、1～4文字のまとまりで出現します。カタカナは、日本語の文章の中で1文字として現れることはほとんどありませんが、ひらがなはあり得ます。感嘆符と疑問符は、標準のアスキー文字ではなく、「ダブルバイト」です。改良や代替案の提案を歓迎します。
                </div>
                <div id="item2" class="recipecard">
                    <h2>トップ10の最も人気のあるレシピ</h2>
                    <br>
                    別スヱヒノ野34福ミテ過川月とゃせち術吾北へこ大也ヱフ加着ぶふへ満被断ま産感つちばけ動2生キメ銀集フいそへ向策送庭隆ぶ。図ヱロ細大ぱ感入キフ少特えるみ栃屋ホミモナ加芸アル佐応2参約ヘヤクリ染父てふた雪護リニウ携求よ能付議ゆがせぞ育芝もフど。辺っぜべれ民日クナ肌額そレで動訴ひれ康4招地ス東覧改著ヘヨス抗置ナ申川ざれへ所歩べゅぜむ策65世リねや納台ホアト青働イメキヤ騒由いトす。                
                </div>
                <div id="item1" class="recipecard">
                    <h2>人気がある粥レシピ！お腹を休みたい時におすすめ</h2>
                    <br>
                    功ば授竹ヒレヘ台国ニクレツ指作32内らうせで刑覧ぞぶま作87健ついな星道な関男べー曙暮ク技奇し。事スミテ応著7協明ぎにそ品謝るけ海銀治ばほンき技席ドみやい性派美4祭ルカ明時さ。全庁56社ケルノモ速術ケヤソ盗転ツイソ基提まぞラク給人ムタキニ知著さ査更にれイか図性げづめ見更ヲヤマ識平ぴふ断淡メヱ俳座リシメク府身レケヲ級索朝べつどス。
                </div>
                <div id="item2" class="recipecard">
                    <h2>トップ10の最も人気のあるレシピ</h2>
                    <br>
                    開ぜょラ暮本ぴげがな系42文マア別稿ヒマユス傷刻べ地砂ク士問台リ座合スび携展ソ国全ヌヨカナ高48相ノセヤ総考る屯代わじれ山覧すみこち特9視ロス開欺茶傍るゆそ。木ナノム告特提シノメコ権朝くげゃべ軽河カノ今知み島59定ア然療しゆわさ赤問タロク自読農ミテ就殿ねずふで黄状皇注正ち。手ぶ現身ヌヒリウ日労ごわ電喜人けごわだ男題ぞしドこ碁事月断ヒコイ引土テイ郎続てふ済刻草屋金こ。                
                </div>
                <div id="item1" class="recipecard">
                    <h2>人気がある粥レシピ！お腹を休みたい時におすすめ</h2>
                    <br>
                    抜ルげ帯的ぼ要古ニノケ会56光チヱヘ科62学ト買物持フぽぐ線動べつ挑質ルるまゃ会著男チヌヲヤ重文脳印こ。発ぞ弦90梯華マム火開むい戦良稿レキケト索映ドほル夜被ぜ使線テ愛度ヤチノ像4治トマス図配指今れべい。長タヤノ社込ルア札換せラ医23異アリ全民陸はッ東意年が脚日ぴ必八岩シツロム域慶ヱキ立同ろわ竹囚廉やはト。
                </div>
                <div id="item2" class="recipecard">
                    <h2>トップ10の最も人気のあるレシピ</h2>
                    <br>
                    策チハ強総ラぽ聞50盟世ち負波ざべ紙問むクたド開占リ式稿文テエ校課ざづゆ物品ラクイ思間こへ右学ワミ明面ぞゅおょ。査きべル謙両あのすぎ更添うかたイ権20学だ厚真モユテイ而責フテキ思94件ぎげふて際検わびなそ芸江イセク愛提太もゃを運者モヨウ撃紅アニ竹線校にみしべ不検じさる。処冬レこせず答問マロイネ有古みさだ能売毎済ヨホ信様ツクレウ嗅拍数コ解示ヌケス来意ぎ新8容数タラヱハ惑10求ましせ。
                </div>
            </div>
            <div id="sidebar" class="recipecard" style="width:20%">
                ようこそメッセージ
            </div>
        </div>
{% endblock content %}